/* frontend/src/styles.css */
@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif; /* Example font */
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light background color */
}

.app {
    display: flex; /* Use flexbox to align sidebar and content */
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}